/* #banner {
    padding: 2%;
    text-align: center;
    margin: 0%;
    background-color: steelblue;
    color: white;
} */

.banner {
    height: 6%;
    padding-left: 15%;
    background-color: whitesmoke;
    border-bottom: 1px solid gainsboro;
    font-family: cursive;
    font-size: xx-large;
    color: goldenrod;
}

.banner .rs {
    float: right;
    padding-right: 24% ;
    text-align: right;
    font-family: cursive;
    font-size: medium;
    padding-top: 1%;
}

.banner .rs a {
padding-right: 15px;
text-decoration: none;
color: dimgray;

}

.banner .rs a:hover {
    color: goldenrod;
    
    }

.header {
    margin-top: 5%;
    padding-left: 15%;
    font-size:50px;
    font-weight: bold;
    color: indianred;
}

.outer {
    position: relative;
    margin-left: 15%;
    margin-right: 15%;
    
}

.outer h2 {
    font-weight: bold;
    color: indianred;

}

body {
    margin: 0px;
    height: 100vh;
}

.moonDemo { 
    height:80%;
    min-height: 700px;
} 

.Moon {
    position: absolute;
    transition: linear 4000ms;
}

.MoonSquare {
    position: absolute;
    transition: linear 4000ms;
}

#Earth {
    position: absolute;
    left: 170px;
    top: 320px;
}

#EarthSquare {
    position: absolute;
    left: 770px;
    top: 320px;
}

p {
    position: relative;
    z-index: 1;
}

.rotationButtons {
    position: relative;
    margin-bottom: 10%;

}

.rotationButtonsLeft {
    margin-left: 13%;

}

.rotationButtonsRight {
   margin-left: 35%;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.animations {
    position: relative;
    margin-top: 4%;

}

.knightSpriteC {
    width: 360px;
    height: 160px;
}

#knightSprite {
    width: 360px;
    height: 160px;
}

/* .withId button {

    float: left;
} */

.withId {
    position: relative;
    margin-top: 10%;
}


/* .withClass button {

    float: left;
} */

#move {
    margin-top: 10%;
}
.moveable {
    /* border: 5px solid black; */
    background-color: whitesmoke;
    height: 30%;
    /* width: 98%; */
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    position: relative;
    /* color: indianred; */
    /* overflow: hidden; */
}

.indianRed {
    color: indianred;
    margin-left: 15%;
}

.dragH2 {margin-top: 10%;}


.biggest {
    position: absolute;
    background-color: blue;
    height: 8%;
    width: 8%;
    top: 85%;
    left: 3%;
}

.medium {
    position: absolute;
    background-color: greenyellow;
    height: 8%;
    width: 6%;
    top: 77%;
    left: 4%;

}

.small {
    position: absolute;
    background-color: red;
    height: 8%;
    width: 4%;
    top: 69%;
    left: 5%;

}

.stand {
    margin-top: 6%;
}

.testRotate {
    height: 60%;
    background-color: orange;
    margin: auto;
    position: relative;
}

.rotateDemo {
    /* border: 5px solid black; */
    margin-top: 10vh;
    margin-left: 15%;
    margin-right: 15%;
    /* width: 98vw; */
    height: 40vh;
    position: relative;
    text-align: center;

}

.stretchDemo {
    /* border: 5px solid black; */
    /* width: 98vw; */
    margin-left: 15%;
    margin-right: 15%;
    height: 40vh;
    position: relative;
    text-align: center;
    background-color: whitesmoke;

}

.resizeObject {
    position: absolute;
    background-color: blue;
    width: 100px;
    height: 100px;
    left: 40%;
    top: 40%;
}

#pStretch {
    margin-top: 10vh;
}

.end {
    padding-bottom: 12%;
}