#banner {
    padding: 2%;
    text-align: center;
    margin: 0%;
    background-color: steelblue;
    color: white;
}
body {
    margin: 0px;
    height: 100vh;
}

.moonDemo { 
    height:80%
} 

.Moon {
    position: absolute;
    transition: linear 4000ms;
}

.MoonSquare {
    position: absolute;
    transition: linear 4000ms;
}

#Earth {
    position: absolute;
    left: 275px;
    top: 515px;
}

#EarthSquare {
    position: absolute;
    left: 865px;
    top: 520px;
}

p {
    position: relative;
    z-index: 1;
}

.rotationButtons {
    position: relative;
    margin-bottom: 10%;

}

.rotationButtonsLeft {
    margin-left: 16%;

}

.rotationButtonsRight {
   margin-left: 24%;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.animations {
    float:left;
    margin-top: 4%;

}

.knightSpriteC {
    width: 450px;
    height: 200px;
}

#knightSprite {
    width: 450px;
    height: 200px;
}

.withId button {

    float: left;
}

.withClass button {

    float: left;
}

.moveable {
    border: 5px solid black;
    height: 30%;
    width: 98%;
    margin-top: 3%;
    overflow: hidden;
}

.biggest {
    position: absolute;
    background-color: blue;
    height: 3%;
    width: 8%;
    top: 212.5%;
    left: 1%;
}

.medium {
    position: absolute;
    background-color: greenyellow;
    height: 3%;
    width: 6%;
    top: 209.5%;
    left: 2%;

}

.small {
    position: absolute;
    background-color: red;
    height: 3%;
    width: 4%;
    top: 206.5%;
    left: 3%;

}

.stand {
    margin-top: 4.5%;
}

.testRotate {
    width: 150px;
    height: 150px;
    background-color: orange;
    margin: auto;
    top: 30%;
    position: relative;
}

.rotateDemo {
    border: 5px solid black;
    margin-top: 10vh;
    width: 98vw;
    height: 40vh;
    float: left;
    text-align: center;

}